# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/*/
!/Packages/
/Packages/*
!/Packages/Default/
!/Packages/User/
/Packages/User/encoding_cache.json
/Packages/User/Package Control.cache/
/Packages/User/Package Control.ca-bundle
/Packages/User/Package Control.ca-certs/
/Packages/User/Package Control.ca-list
/Packages/User/Package Control.last-run
/Packages/User/Package Control.system-ca-bundle